<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Daftar Kontes dan Latihan
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">

                    {{if gt .PageData.Count 0}}

                    <p>Terdapat {{.PageData.Count}} kontes atau latihan disini.</p>
                    <p>Kontes/latihan akan dimulai apabila anda memulai dengan memasuki kontes yang anda pilih.</p>

                    {{$baseUrl := .BaseUrl}}
                    {{with .PageData.Contests}}
                    {{range .}}
                    <div class="card box-shadow-0 border-primary">
                        <div class="card-header card-head-inverse bg-primary">
                            <h4 class="card-title text-white float-left"><i class="fas fa-book mr-1"></i> {{.Title}}
                            </h4>
                            <div class="heading-elements float-right">
                                Terdapat {{.ProblemCount}} soal
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <p>{{.Description}}</p>
                                {{.TimeDesc}}
                                <div class="text-right">
                                    <a href="{{$baseUrl}}{{.ContestUrl}}" class="btn btn-success"><i
                                            class="fas fa-book-open mr-1"></i> Mulai {{.ContestType}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    {{end}}

                    {{else}}
                    <p>Belum ada kontes yang dipublikasikan!</p>
                    {{end}}

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function initReminderTimer() {}
</script>