<div class="row">

    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Berita dan Pengumuman
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    {{if gt .PageData.News.Count 0}}
                    {{with .PageData.News.News}}
                    {{range .}}
                    <div class="card box-shadow-0 border-info">
                        <div class="card-header card-head-inverse bg-info">
                            <h4 class="card-title text-white">{{.Title}}</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <p>By <strong>{{.Author}}</strong> at {{.PostDate}}</p>
                                <p>{{.Contents}}</p>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    {{end}}
                    {{else}}
                    <p>Belum ada sesuatu yang diberitahukan atau diumumkan!</p>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <!-- Profil Kanan -->
        <div class="card">
            <div class="text-center">
                <div class="card-body">
                    <img src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" class="rounded-circle" alt="Card image"
                        style="height:150px;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        {{.UserData.DisplayName}}
                    </h4>
                    <h6 class="card-subtitle text-muted">
                        <i class="fas fa-university mr-1 mb-2"></i> {{.UserData.Institution}}
                        <br />
                        <i class="fas fa-map-marker-alt mr-1 mb-2"></i> {{.UserData.Address}}
                        <br />
                        <i class="fas fa-user-tie mr-1"></i> {{.UserData.Roles.RoleName}}
                    </h6>
                </div>
                <div class="text-center">
                    <a href="{{.BaseUrl}}dashboard/profile" class="btn btn-info round btn-min-width mb-2"> Ubah
                        Profil</a>
                </div>
                <br />
            </div>
        </div>
        <!-- Onlyn card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Pengguna Aktif</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    {{if gt .PageData.OnlineUsers.Count 0}}
                    <p>Ada {{.PageData.OnlineUsers.Count}} pengguna yang sedang online dalam 5 menit terakhir ini.</p>
                    <div class="card">
                        <div class="card-body">
                            <div id="onlineOverflow" class="overflow-auto" style="max-height:160px;">
                                <style>
                                    td {
                                        padding: 6px;
                                    }
                                </style>
                                <table>
                                    <tbody>
                                        {{$baseUrl:=.BaseUrl}}
                                        {{with .PageData.OnlineUsers.Users}}
                                        {{range .}}
                                        <tr>
                                            <td class="align-middle">
                                                <img src="{{$baseUrl}}avatar/{{.Avatar}}" class="rounded-circle"
                                                    alt="{{.DisplayName}}" style="width: 60px;">
                                            </td>
                                            <td class="align-middle">
                                                {{.DisplayName}}<br />
                                                <small><i class="fas fa-university mr-1"></i> {{.Institution}}</small><br />
                                                <small><i class="fas fa-user-clock mr-1"></i> Since {{.TimeStatus}}</small>
                                            </td>
                                        </tr>
                                        {{end}}
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <p>Tidak ada user yang sedang online dalam 5 menit terakhir ini.</p>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

</div>