<div class="row">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Ubah Profil Anda
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">

                    <!-- -->
                    <form action="{{.BaseUrl}}dashboard/profile" method="POST">
                        <div class="form-group">
                            <label for="display-name">Nama:</label>
                            <input type="text" class="form-control" id="display_name" name="display_name"
                                value="{{.UserData.DisplayName}}" required>
                        </div>
                        <div class="form-group">
                            <label for="gender">Jenis Kelamin:</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="M" {{if eq .UserData.Gender "M"}}selected{{end}}>Laki - laki</option>
                                <option value="F" {{if eq .UserData.Gender "F"}}selected{{end}}>Perempuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">Alamat Asal:</label>
                            <input type="text" class="form-control" id="address" name="address"
                                value="{{.UserData.Address}}" required>
                        </div>
                        <div class="form-group">
                            <label for="institution">Institusi:</label>
                            <input type="text" class="form-control" id="institution" name="institution"
                                value="{{.UserData.Institution}}" required>
                        </div>
                        <div class="form-group">
                            <label for="country">Negara Asal:</label>
                            <select class="form-control" id="country" name="country">
                                <option value="" selected>(Tidak diubah)</option>
                                {{with .PageData.CountryList}}
                                {{range $k, $v := .}}
                                <option value="{{$k}}">{{$v}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar Profil:</label>
                            <select class="form-control" id="avatar" name="avatarOption">
                                <option value="" selected>(Tidak diubah)</option>
                                <option value="genFaceUsername">Face Avatar (by username)</option>
                                <option value="genFaceRandom">Face Avatar (random)</option>
                                <option value="gravatar">Gravatar</option>
                            </select>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-info">Ubah Profil</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <!-- Profil Avatar -->
        <div class="card">
            <div class="text-center">
                <div class="card-body">
                    <img src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" class="rounded-circle" alt="Card image"
                        style="height:150px;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        {{.UserData.DisplayName}}
                    </h4>
                    <h6 class="card-subtitle text-muted">
                        <i class="fas fa-university mr-1 mb-2"></i> {{.UserData.Institution}}
                        <br />
                        <i class="fas fa-map-marker-alt mr-1 mb-2"></i> {{.UserData.Address}}
                        <br />
                        <i class="fas fa-user-tie mr-1"></i> {{.UserData.Roles.RoleName}}
                    </h6>
                </div>
            </div>
        </div>
    </div>

</div>