<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Soal - {{.PageData.Contest.Title}}
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">

                    <div class="card box-shadow-0 border-info">
                        <div class="card-header card-head-inverse bg-info">
                            <h4 class="card-title text-white float-left">{{.PageData.Contest.Title}}</h4>
                            <div class="heading-elements float-right">
                                <!-- Caption kanan -->
                                <div id="tiktok"></div>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <p>{{.PageData.Contest.Description}}</p>
                                <!-- Problems cards -->

                                {{.PageData.Contest.TimeDesc}}
                                <br />

                                {{if gt .PageData.Count 0}}
                                {{with .PageData.Questions}}
                                {{range .}}
                                <a href="{{.QuestUrl}}">
                                    <div class="card bg-info border-info text-white">
                                        <div class="card-body">{{.Name}}</div>
                                    </div>
                                </a>
                                {{end}}
                                {{end}}
                                {{else}}
                                <p>Tidak ada soal ditemukan!</p>
                                {{end}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function timeConverter(waktu) {
        var hour = ("0" + (Math.floor(waktu / 3600))).slice(-2);
        var min = ("0" + Math.floor((waktu - (hour * 3600)) / 60)).slice(-2);
        var sec = ("0" + Math.floor(waktu - (hour * 3600) - (min * 60))).slice(-2);
        var time = 'Sisa waktu: ' + hour + ':' + min + ':' + sec;
        return time;
    }

    function tickTock(waktu) {
        var waktuSisa = timeConverter(waktu);
        //console.log(waktuSisa);
        $("#tiktok").html(waktuSisa);
        if (waktu > 0) {
            setTimeout(function () {
                tickTock(waktu - 1);
            }, 1000);
        } else {
            window.location.replace("{{.BaseUrl}}dashboard?timeOut=yes");
        }
    }

    function initReminderTimer() {
        tickTock(15)
    }
</script>