<div class="row">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Ubah Profil Anda
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">

                    <!-- -->
                    <form action="{{.BaseUrl}}dashboard/profile" method="POST">
                        <div class="form-group">
                            <label for="display-name">Nama:</label>
                            <input type="text" class="form-control" id="display_name" name="display_name"
                                value="{{.UserData.DisplayName}}" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Alamat Asal:</label>
                            <input type="text" class="form-control" id="address" name="address"
                                value="{{.UserData.Address}}" required>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-info">Ubah Profil</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <!-- Profil Avatar -->
        <div class="card">
            <div class="text-center">
                <div class="card-body">
                    <img src="{{.BaseUrl}}avatar" class="rounded-circle" alt="Card image"
                        style="height:150px;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        {{.UserData.DisplayName}}
                    </h4>
                    <h6 class="card-subtitle text-muted">
                        {{.UserData.Address}}
                    </h6>
                </div>
            </div>
        </div>
    </div>

</div>