<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Hasil Masukan
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th width="10%">#ID</th>
                                    <th width="25%">Nama Quest</th>
                                    <th width="15%">Bahasa</th>
                                    <th width="15%">Waktu</th>
                                    <th width="10%">Status</th>
                                    <th width="10%">Poin</th>
                                    <th width="15%">Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">12345</th>
                                    <td>'.$sub->problemName.'</td>
                                    <td>'.$sub->lang.'</td>
                                    <td>'.$sub->pts.'</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="{{.BaseUrl}}" target="_blank">View</a></td>
                                </tr>';
                                <!--<p>Anda belum pernah melakukan submisi!</p>";-->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-3 col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Filter Pencarian
                </h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>-->

</div>