<div class="row">
    <div class="col-sm-3">
        <h3>Pilih Channel</h3>
        <p>Pilih channel kontes apabila tersedia secara publik.</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <hr class="d-sm-none">
    </div>
    <div id="liveStreamBody" class="col-sm-9">
        <h2>LiveStream Homepage</h2>
        <p>Some text..</p>
    </div>
</div>