<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{{.BaseUrl}}favicon.ico">
    <!-- URL Theme Color for Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#0074d9" />
    <!-- URL Theme Color for Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0074d9" />
    <!-- URL Theme Color for iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#0074d9" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{.BaseUrl}}assets/shared/bootstrap/css/bootstrap.min.css">
    <link href="{{.BaseUrl}}assets/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{.BaseUrl}}assets/dashboard/libs/css/style.css">
    <link rel="stylesheet" href="{{.BaseUrl}}assets/dashboard/libs/css/colors.min.css">
    <link rel="stylesheet" href="{{.BaseUrl}}assets/shared/fonts/fontawesome/css/all.min.css">
    <!--<link rel="stylesheet"
        href="{{.BaseUrl}}assets/dashboard/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">-->
    <!-- OverlayScollbars -->
    <link type="text/css" href="{{.BaseUrl}}assets/shared/overlay-scrollbars/css/OverlayScrollbars.min.css"
        rel="stylesheet" />
    <title>Coding INFEST 2019</title>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #0074d9;
            /* As defined in colors.css */
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #ccc;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #aaa;
        }

        /* Fix useless margin in h4 of card title */
        .card-header h4.card-title {
            margin-bottom: 0px;
        }

        /* Use old good bootstrap 3 pre style */
        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div id="body-wrapper" class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-blue fixed-top">
                <a class="navbar-brand" style="color:#fff !important" href="{{.BaseUrl}}">Coding INFEST</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <!-- Jam atas -->
                        <li id="gyClockContainer" class="nav-item" style="display: none;">
                            <div class="text-white" style="padding-top: 18px; padding-left: 24px; padding-right: 24px;">
                                <i class="far fa-clock mr-1"></i> <span id="gyClock">--:--:--</span>
                            </div>
                        </li>
                        <!-- Notifikasi -->
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons text-white" href="#" id="navbarDropdownMenuLink1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Jeremy
                                                            Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">John Abraham </span>is
                                                        now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Monaan Pechi</span> is
                                                        watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Jessica
                                                            Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <!-- Menu dropdown user -->
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="{{.BaseUrl}}avatar/{{.UserData.Avatar}}" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info bg-blue">
                                    <h5 class="mb-0 text-white nav-user-name">{{.UserData.DisplayName}}</h5>
                                </div>
                                <a class="dropdown-item" href="{{.BaseUrl}}dashboard/profile"><i
                                        class="fas fa-user mr-2"></i>Ubah Profil</a>
                                <a class="dropdown-item" href="{{.BaseUrl}}dashboard/settings"><i
                                        class="fas fa-cog mr-2"></i>Pengaturan</a>
                                <a class="dropdown-item" href="{{.BaseUrl}}logout"><i
                                        class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu Utama
                            </li>
                            {{$baseUrl := .BaseUrl}}
                            <li class="nav-item ">
                                {{with .PageData.Menu.GeneralMenu}}
                                {{range .}}
                                <a class="nav-link {{if .Selected}}active{{end}}" href="{{$baseUrl}}{{.Location}}"><i
                                        class="{{.IconClass}}"></i>{{.Title}}</a>
                                {{end}}
                                {{end}}
                            </li>
                            {{if .UserData.Roles.Contestant}}
                            <li class="nav-divider">
                                Kontes dan Latihan
                            </li>
                            <li class="nav-item ">
                                {{with .PageData.Menu.ContestMenu}}
                                {{range .}}
                                <a class="nav-link {{if .Selected}}active{{end}}" href="{{$baseUrl}}{{.Location}}"><i
                                        class="{{.IconClass}}"></i>{{.Title}}</a>
                                {{end}}
                                {{end}}
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">{{.PageData.MainTitle}}</h2>
                                <!--<p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>-->
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{.BaseUrl}}dashboard"
                                                    class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">{{.PageData.Title}}
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    {{if ne .MessageStr ""}}
                    {{if eq .MessageType "error"}}
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="alert alert-danger"><i class="fas fa-exclamation-circle mr-2"></i>
                                {{.MessageStr}}</div>
                        </div>
                    </div>
                    {{else if eq .MessageType "success"}}
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="alert alert-success"><i class="fas fa-info-circle mr-2"></i> {{.MessageStr}}
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="alert alert-warning"><i class="fas fa-exclamation-circle mr-2"></i>
                                {{.MessageStr}}</div>
                        </div>
                    </div>
                    {{end}}
                    {{end}}
                    <noscript>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="alert alert-warning"><i class="fas fa-exclamation-circle mr-2"></i>
                                    Gargoyle Judge experience will be better if you turn on Javascript</div>
                            </div>
                        </div>
                    </noscript>

                    <!-- Dashboard Content here -->
                    {{.PageData.Content}}

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer" style="position: absolute; bottom: 0;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            GargoyleWS v{{.AppVersion}}. Copyright © 2019 <a href="http://www.khayalan.id"
                                target="_blank">Thiekus</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="#aboutApp" id="aboutAppLink" data-toggle="modal">About Gargoyle</a>
                                <a href="{{.BaseUrl}}logout">Logout</a>
                                <!--<a href="http://www.khayalan.id" target="_blank">Thiekus Home</a>
                                <a href="http://www.infestunsyiah.com" target="_blank">INFEST Home</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- jquery 3.4.1 -->
    <script src="{{.BaseUrl}}assets/shared/jquery/jquery-3.4.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="{{.BaseUrl}}assets/shared/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="{{.BaseUrl}}assets/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="{{.BaseUrl}}assets/dashboard/libs/js/main-js.js"></script>
    <!-- OverlayScrollbars main script -->
    <script type="text/javascript" src="{{.BaseUrl}}assets/shared/overlay-scrollbars/js/OverlayScrollbars.min.js">
    </script>

    <!-- About Modal -->
    <div class="modal fade" id="aboutApp">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">About Gargoyle {{.AppVersion}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="aboutModalBody">
                    <div class="overflow-auto" id="aboutModalContainer" style="height:300px;">
                        Please wait...
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Custom initialization-->
    {{if eq .PageData.PageName "contest"}}
    <script>
        function customInit() {
            initReminderTimer();
        }
    </script>
    {{else if eq .PageData.PageName "training"}}
    <script>
        function customInit() {
            initReminderTimer();
        }
    </script>
    {{else if eq .PageData.PageName "home"}}
    <script>
        function customInit() {
            $('#onlineOverflow').overlayScrollbars({})
        }
    </script>
    {{else}}
    <script>
        // No custom initialization, do nothing
        function customInit() {}
    </script>
    {{end}}
    <!-- Main Page Initialization -->
    <script>
        function appendZero(num) {
            return num > 9 ? num : "0" + num;
        }

        function dashboardClock() {
            var nowTime = new Date();
            var timeStr = appendZero(nowTime.getHours()) + ":" +
                appendZero(nowTime.getMinutes()) + ":" +
                appendZero(nowTime.getSeconds());
            $("#gyClock").html(timeStr);
            setTimeout(dashboardClock, 1000);
        }

        $(document).ready(function () {
            // Apply OverlayScrollbars and workarounds for BS Modal
            var osInstance = $('body').overlayScrollbars({}).overlayScrollbars();
            $('body').on('show.bs.modal', function () {
                requestAnimationFrame(function () {
                    var osContentElm = $(osInstance.getElements().content);
                    var backdropElms = $('body > .modal-backdrop');
                    backdropElms.each(function (index, elm) {
                        osContentElm.append(elm);
                    });
                });
            });
            // About application handle
            $("#aboutAppLink").click(function () {
                var modalHeight = $(window).height() / 2;
                $("#aboutModalContainer").css("height", modalHeight + "px");
                //$('#aboutModalContainer').overlayScrollbars({});
                $.ajax({
                    type: "GET",
                    url: "{{.BaseUrl}}about",
                    success: function (result) {
                        $("#aboutModalContainer").html(result);
                    }
                });
            });
            dashboardClock();
            $("#gyClockContainer").show();
            // Page-defined custom initialization
            customInit();
        });
    </script>

</body>

</html>