<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gargoyle First Setup</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{.BaseUrl}}assets/shared/bootstrap/css/bootstrap.min.css">
    <link href="{{.BaseUrl}}assets/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{.BaseUrl}}assets/dashboard/libs/css/style.css">
    <!--<link rel="stylesheet" href="{{.BaseUrl}}assets/shared/fonts/fontawesome/css/all.min.css">-->
    <!-- OverlayScollbars -->
    <link type="text/css" href="{{.BaseUrl}}assets/shared/overlay-scrollbars/css/OverlayScrollbars.min.css"
        rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
    <form class="splash-container" action="{{.BaseUrl}}gysetup" method="POST">
        {{if ne .MessageStr ""}}
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="alert alert-danger">{{.MessageStr}}</div>
            </div>
        </div>
        {{end}}
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Gargoyle Setup</h3>
                <p>Masukan pengaturan database untuk menggunakan Gargoyle Judgement System</p>
            </div>
            <div class="card-body">
                {{if not .PageData.DbDone}}
                <div class="form-group">
                    Database Driver
                    <select id="dbdriverselect" class="form-control" name="dbdriver">
                        <option value="mysql">MySQL/MariaDB</option>
                        <option value="sqlite3">SQLite</option>
                    </select>
                </div>
                <div id="dbdriver_cs">
                    <div class="form-group">
                        Database Host
                        <input class="form-control form-control-lg" type="text" name="dbhost"
                            value="{{.PageData.DbHost}}" required="" placeholder="Host (e.g localhost:3306)"
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        Database Username
                        <input class="form-control form-control-lg" type="text" name="dbuser"
                            value="{{.PageData.DbUser}}" required="" placeholder="DB Username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Database Password
                        <input class="form-control form-control-lg" type="password" name="dbpass"
                            value="{{.PageData.DbPass}}" placeholder="DB Password">
                    </div>
                    <div class="form-group">
                        Database Name
                        <input class="form-control form-control-lg" type="text" name="dbname"
                            value="{{.PageData.DbName}}" required="" placeholder="DB Name" autocomplete="off">
                    </div>
                </div>

                <div id="dbdriver_file" style="display:none;">
                    <div class="form-group">
                        Database File
                        <input class="form-control form-control-lg" type="text" name="dbfile"
                            value="{{.PageData.DbFile}}" placeholder="DB Filename" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="dbcreate" value="yes" checked><span
                            class="custom-control-label">Buat tabel database baru<br />(PERHATIAN: ini akan menghapus
                            tabel yang sudah ada jika ada)</span>
                    </label>
                </div>
                {{end}} <!--if DbDone-->

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input id="adminregcheck" class="custom-control-input" type="checkbox" name="admincreate"
                            value="yes" checked><span class="custom-control-label">Buat admin baru</span>
                    </label>
                </div>
                <div id="adminregform">
                    <div class="form-group">
                        Admin Username
                        <input class="form-control form-control-lg" type="text" name="adminuser" value="gyroot"
                            required="" placeholder="Admin Username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Admin Email
                        <input class="form-control form-control-lg" type="email" name="adminemail" value=""
                            placeholder="Admin Email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Admin Password
                        <input class="form-control form-control-lg" type="password" name="adminpass1" value=""
                            placeholder="Admin Password">
                    </div>
                    <div class="form-group">
                        Enter Admin Password Again
                        <input class="form-control form-control-lg" type="password" name="adminpass2" value=""
                            placeholder="Admin Password Confirm">
                    </div>
                </div>

                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Install</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Optional JavaScript -->
    <script src="{{.BaseUrl}}assets/shared/jquery/jquery-3.4.1.min.js"></script>
    <script src="{{.BaseUrl}}assets/shared/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- OverlayScrollbars main script -->
    <script type="text/javascript" src="{{.BaseUrl}}assets/shared/overlay-scrollbars/js/OverlayScrollbars.min.js">
    </script>
    <script>
        $(function () {
            $("body").overlayScrollbars({});
            $("#dbdriverselect").change(function () {
                if ($(this).val() == "mysql") {
                    $("#dbdriver_file").hide();
                    $("#dbdriver_cs").show();
                } else {
                    $("#dbdriver_cs").hide();
                    $("#dbdriver_file").show();
                }
            });
            $("#adminregcheck").click(function () {
                if ($(this).prop("checked")) {
                    $("#adminregform").show();
                } else {
                    $("#adminregform").hide();
                }
            });
        });
    </script>

</body>


</html>